<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    var class_data = {{class_data|safe}};
    var reviews = {{reviews|safe}};
    var label_mapping = {{label_mapping|safe}};
    var pair_mapping_ape = {{pair_mapping_ape|safe}};
    var pair_mapping_entail = {{pair_mapping_entail|safe}};
    var pair_mapping_emb = {{pair_mapping_emb|safe}};
    var pair_mapping_ner = {{pair_mapping_ner|safe}};
    function toTuple() {
      s = '(';
      for (var i = 0; i < arguments.length-1; i++) {
        s += String(arguments[i]) + ', ';
      }
      s += String(arguments[arguments.length-1]) + ')';
      return s
    }
    function tupleToList(t) {
      l = [];
      components = t.substring(1, t.length-1).split(', ');
      for (var i=0; i<components.length; i++) {
        l.push(eval(components[i]));
      }
      return l;
    }
    function listToArray(t) {
      l = [];
      components = t.substring(1, t.length-1).split(', ');
      for (var i=0; i<components.length; i++) {
        l.push(eval(components[i]));
      }
      return l;
    }
    function pair_click_event(){
      // get data for clicked sentence
      clicked_review_id = $(this).attr('review_id');
      clicked_sentence_id = $(this).attr('sentence_id');
      selected_pairing = $('input[name="pair"]:checked').val();
      if (selected_pairing == 0) {
        clicked_discourse_data = pair_mapping_ape[toTuple(clicked_review_id, clicked_review_id, clicked_sentence_id)];
      } else if (selected_pairing == 1) {
        clicked_discourse_data = pair_mapping_entail[toTuple(clicked_review_id, clicked_review_id, clicked_sentence_id)];
      } else if (selected_pairing == 2) {
        clicked_discourse_data = pair_mapping_emb[toTuple(clicked_review_id, clicked_review_id, clicked_sentence_id)];
      } else if (selected_pairing == 3) {
        clicked_discourse_data = pair_mapping_ner[toTuple(clicked_review_id, clicked_review_id, clicked_sentence_id)];
      }
      //highlight paired args
      for (i=0; i<class_data.sentences.length; i++) {
        review_id = class_data.review_id[i];
        sentence_id = class_data.sentence_id[i];
        if ((clicked_discourse_data != null) &&
            clicked_discourse_data[i] == 1) {
          $(".discourse_sentence[review_id=" + review_id + "][sentence_id=" + sentence_id + "]").css('background-color', 'yellow');
        } else {
          $(".discourse_sentence[review_id=" + review_id + "][sentence_id=" + sentence_id + "]").css('background-color', 'transparent');
        }
        $(".discourse_sentence[review_id=" + review_id + "][sentence_id=" + sentence_id + "]").css('text-decoration', 'none');
      }
      $(".discourse_sentence[review_id=" + clicked_review_id + "][sentence_id=" + clicked_sentence_id + "]").css('text-decoration', 'underline');
    }
    $(document).ready(function(){
      $("#update").click(function(){
        // Clear all reviews
        for (i=0; i<reviews.length; i++) {
          $('#review_' + i).empty()
        }
        // Fill in sentence by sentence
        running_unit = false;
        for (i=0; i<class_data.sentences.length; i++) {
          review_id = class_data.review_id[i];
          sentence_id = class_data.sentence_id[i];
          var prefix = '<span class="discourse_sentence" review_id=' + review_id + ' sentence_id=' + sentence_id + '>';
          var suffix = ' </span>';
          // Handle argumentative statements
          if (class_data.arg_pred[i] > 0.5) {
            if ($('#chk_arg').is(":checked")) {
              prefix = "<strong>".concat(prefix);
              suffix = suffix.concat("</strong>")
            }
            // Highlight accept and reject
            if ($('#chk_accept').is(":checked")) {
              if (class_data.valence_pred[i] < 0.67) {
                prefix = "<span style='color: green'>".concat(prefix);
                suffix = suffix.concat("</span>");
              }
            }
            if ($('#chk_reject').is(":checked")) {
              if (class_data.valence_pred[i] > 0.33) {
                prefix = "<span style='color: red'>".concat(prefix);
                suffix = suffix.concat("</span>");
              }
            }
          }
          // Handle pair extraction segmentation
          if ($('#chk_unit').is(":checked")) {
            label = label_mapping[toTuple(review_id, review_id, sentence_id)];
            if (label != null){
              if ((running_unit == true) && (label == 'E')) {
                running_unit = false
                suffix = suffix.concat("<strong style='color: blue; font-size: 25px'>]</strong>")
              }
              if ((label != 'O') && (label != 'S')) {
                prefix = "<u>".concat(prefix)
                suffix = suffix.concat("</u>")
                if (label == 'B') {
                  running_unit = true;
                  prefix = "<strong style='color: blue; font-size: 25px'>[</strong>".concat(prefix)
                }
              }
            }
          }
          $('#review_' + review_id).append(prefix + class_data.sentences[i] + suffix)
        }
        $(".discourse_sentence").click(pair_click_event);
      });
      // Fill in initial review sentences
      for (i=0; i<class_data.sentences.length; i++) {
        review_id = class_data.review_id[i];
        sentence_id = class_data.sentence_id[i];
        $('#review_' + review_id).append('<span class="discourse_sentence" review_id=' + review_id + ' sentence_id=' + sentence_id + '>' + class_data.sentences[i] + ' </span>')
      }
      // Argument pair interaction
      $(".discourse_sentence").click(pair_click_event);
    });
  </script>
  <style>
    .discourse_sentence:hover{
      color: blue
    }
  </style>
</head>
<body>

<h2>Reviews</h2>
  <p>Tool Options:</p>
  <div>
    <input type="checkbox" id="chk_arg">
    <label> Display Argumentative Discourse Units </label><br>
    <input type="checkbox" id="chk_accept">
    <label> Display Sentences For Acceptance </label><br>
    <input type="checkbox" id="chk_reject">
    <label> Display Sentences Against Acceptance </label><br>
    <input type="checkbox" id="chk_unit">
    <label> Display Criticizing Units with Pairs (APE)</label><br><br>
  </div>
  <p>Segmentation Options:</p>
  <div>
    <input type="radio" id="chk_ape" value=0 name="seg" checked>
    <label> Use sentence segmentation</label><br>
    <input type="radio" id="chk_entail" value=1 name="seg">
    <label> Use APE segmentation </label><br><br/>
  </div>
  <p>Pairing Options:</p>
  <div>
    <input type="radio" id="chk_ape" value=0 name="pair" checked>
    <label> Use APE pair extraction (thresh_prob=0.8)</label><br>
    <input type="radio" id="chk_entail" value=1 name="pair">
    <label> Use textual entailment </label><br>
    <input type="radio" id="chk_embed" value=2 name="pair">
    <label> Use sentence embeddings </label><br>
    <input type="radio" id="chk_ner" value=3 name="pair">
    <label> Use NER </label><br>
  </div><br>
  <input id='update', type="submit" value="Update"><br>
  <br>

  <table border = 1>
    {% for value in reviews %}

    <tr>
       <!--<th> {{ value }} </th>-->
       <td id='{{ value.id }}'>  </td>
    </tr>

    {% endfor %}
 </table>

</body>
</html>
